/* Style for Welcome Screen */
body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    font-family: Arial, sans-serif;
}

#aframeScene {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: transparent; /* Ensure background is transparent for AR */
    z-index: 1;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    color: #333;
    background-color: #f3f3f3;
}

.welcome-container h1 {
    font-size: 2em;
    color: #FF69B4;
    margin-bottom: 0.5em;
}

.welcome-container p {
    font-size: 1.2em;
    margin: 0.5em;
}

.start-button {
    padding: 0.8em 1.2em;
    font-size: 1em;
    color: white;
    background-color: #FF69B4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1em;
}

.start-button:hover {
    background-color: #FF4081;
}

#uploadPage {
    padding: 0.8em 1.2em;
    font-size: 1em;
    color: white;
    background-color: #FF69B4;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1em;
}

#uploadPage:hover {
    background-color: #FF4081;
}
