* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    min-height: 100vh;
    background-color: #f4f6f9;
    color: #333;
    overflow: hidden;
}


#cameraContainer {
    width: 100%;
    max-width: 400px;
    position: relative;
    margin: 5px 5px;
    top: 0px;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#bottomContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

#cameraView,
#preview {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    transform: scaleX(-1);
}

button {
    margin: 5px 5px;
    padding: 5px 5px;
    font-size: 16px;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#captureButton, #uploadButton, #retakeButton {
    display: inline-block;
    min-width: 140px;
    text-align: center;
}

.button-group {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 15px;
}

#retakeButton {
    min-width: 0;
    line-height: 1;
    position: fixed;
    top: 0px;
    left: 5px;
    font-size: 32px;
    background-color: transparent;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
    padding: 0px;
}

#backButton {
    position: fixed;
    top: 0px;
    left: 10px;
    font-size: 32px;
    background-color: transparent;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

#captureButton {
    min-width: 0;
    line-height: 1;
    position: relative;
    top: 0px;
    background-color: transparent;
    color: #333;
    font-size: 256px;
}

#uploadButton {
    position: relative;
    top: 0px;
    background-color: transparent;
    color: #333;
    font-size: 128px;
}

#captionInput {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
}
