* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
    background-color: #f4f6f9;
    color: #333;
    overflow: hidden;
    padding: 1em;
}

#cameraContainer {
    width: 40%;
    max-width: 90%;
    position: relative;
    margin: 1em auto;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#bottomContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
}

#cameraView,
#preview {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
    transform: scaleX(-1);
}

button {
    font-size: 1rem;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#captureButton, #uploadButton {
    display: inline-block;
    width: auto;
    text-align: center;
    font-size: 1rem;
}

.button-group {
    display: flex;
    justify-content: center;
}

#backButton, #retakeButton {
    position: fixed;
    top: 0.5em;
    left: 0.5em;
    font-size: 2.5rem;
    background-color: transparent;
    color: black;
    text-decoration: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 1000;
}

#captureButton {
    font-size: 10rem;
    background-color: transparent;
    color: #333;
    padding: 0.2em;
}

#uploadButton {
    font-size: 8rem;
    background-color: transparent;
    color: #333;
}

#captionInput {
    width: 100%;
    font-size: 1rem;
    padding: 0.8em;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 1em;
}

button:disabled {
    cursor: not-allowed;
}

@media (max-width: 768px) {
    #cameraContainer {
        width: 80%;
        margin-top: 5em;
    }
}

@media (max-width: 480px) {
    #cameraContainer {
        width: 90%;
        margin-top: 5em;
    }
}
